@using System.Drawing

@code {
	[Parameter]
	public long Maximum { get; set; } = 0;

	[Parameter]
	public long Value { get; set; } = 0;

	[Parameter]
	public long Increment { get; set; } = 0;

	[Parameter]
	public Color BarColor { get; set; } = Color.Blue;

	[Parameter]
	public string LeftText { get; set; } = "";

	[Parameter]
	public string CenterText { get; set; } = "";

	[Parameter]
	public string RightText { get; set; } = "";

	[Parameter]
	public Action OnClick { get; set; } = () => { };

	private Color IncrementColor1 => Color.FromArgb(BarColor.A / 2, BarColor);

	private Color IncrementColor2 => Color.FromArgb(BarColor.A / 4, BarColor);

	private Color IncrementColor3 => Color.FromArgb(BarColor.A / 8, BarColor);
}


<div @onclick="OnClick">
	<div class="fill" style="display: flex; flex-direction: row">
		<div style="width: @(100 * Value / Math.Max(1, Maximum))%; height: 100%; padding: 0; background-color: #@BarColor.ToRgba()" />
		<div style="width: @(100 * Increment / Math.Max(1, Maximum))%; height: 100%; padding: 0; background-color: #@IncrementColor1.ToRgba()" />
		<div style="width: @(100 * Increment / Math.Max(1, Maximum))%; height: 100%; padding: 0; background-color: #@IncrementColor2.ToRgba()" />
		<div style="width: @(100 * Increment / Math.Max(1, Maximum))%; height: 100%; padding: 0; background-color: #@IncrementColor3.ToRgba()" />
	</div>
	<div class="fill overlay" style="display: flex; flex-direction: row; justify-content: space-between">
		<span style="width: 33%; text-align: left">
			@LeftText
		</span>
		<span style="width: 33%; text-align: center">
			@CenterText
		</span>
		<span style="width: 33%; text-align: right">
			@RightText
		</span>
	</div>
</div>