@using System.Drawing
@using System.ComponentModel

@code {
	[Parameter]
	public ResourceDisplayViewModel VM { get; set; } = new();

	/// <summary>
	/// When the view model's properties change, update the UI.
	/// </summary>
	/// <param name="sender"></param>
	/// <param name="e"></param>
	private void ViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
	{
		StateHasChanged();
	}

	protected override void OnInitialized()
	{
		VM.PropertyChanged += ViewModelPropertyChanged;
	}

	public void Dispose()
	{
		VM.PropertyChanged -= ViewModelPropertyChanged;
	}
}

<div class="fill" style="display: flex; flex-direction: row; width: 150px; height: 24px; vertical-align: middle; overflow: hidden">
	<div style="height: 24px; width: 24px; margin: auto; text-align: left">
		<img src="@VM.IconSource" class="fill"/>
	</div>
	<span class="fill" style="color: #@VM.Color.ToRgba(); margin: 0px 3px">@VM.Text</span>
</div>