@using System.Drawing
@using System.ComponentModel

@code {
	[Parameter]
	public ResourceQuantityDisplayViewModel VM { get; set; } = new();

	/// <summary>
	/// When the view model's properties change, update the UI.
	/// </summary>
	/// <param name="sender"></param>
	/// <param name="e"></param>
	private void ViewModelPropertyChanged(object? sender, PropertyChangedEventArgs e)
	{
		StateHasChanged();
	}

	protected override void OnInitialized()
	{
		VM.PropertyChanged += ViewModelPropertyChanged;
	}

	public void Dispose()
	{
		VM.PropertyChanged -= ViewModelPropertyChanged;
	}
}

<div class="fill" style="display: flex; flex-direction: row">
	@foreach (var resourceVM in VM.ResourceViewModels)
	{
		<div style="width: 200px">
			<ResourceDisplay VM="resourceVM"/>
		</div>
	}
</div>