name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    #- name: github-action-publish-binaries
    #  uses: skx/github-action-publish-binaries@release-0.14
    #- name: Test
    #  run: dotnet test --no-restore --verbosity normal
    - name: Copy Directory
      uses: MadaraUchiha/copy-action@0.0.1
      with:
        source: FrEee.WinForms\bin\Release\net5.0-windows
        target: FrEee.WinForms\Artifact\FrEee.WinForms\FrEee
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: FrEee.WinForms
        path: FrEee.WinForms\Artifact\FrEee.WinForms

