name: .NET

on:
  push:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v2
    - name: Set up .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 10.0.x
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore
    - name: Test
      uses: zyborg/dotnet-tests-report@v1.3.0
      with:
        project_path: FrEee.Tests/FrEee.Tests.csproj
        no_restore: true # we already restored above
        msbuild_configuration: Release
        msbuild_verbosity: normal # q[uiet], m[inimal], n[ormal], d[etailed], and diag[nostic].
        report_name: TestReport_${{github.sha}}_$NOW
        report_title: Test Report
        github_token: ${{ secrets.GITHUB_TOKEN }}
        skip_check_run: false
        set_check_status_from_test_outcome: false # true = fail the build if tests fail
        #trx_xsl_path: # optional
    - name: Create release tag
      id: createReleaseTag
      uses: 2428392/gh-truncate-string-action@v1.0.0
      with:
        stringToTruncate: ${{github.sha}}
        maxLength: 8
    - name: Get assembly version
      uses: KageKirin/get-csproj-version@v0
      id: get_versions
      with:
        file: 'FrEee.Assets/CommonProjectProperties.xml'
    - name: List files
      run: ls -s .\bin\Release\net10.0-windows
    - name: Prepare files for zipping
      run: |
        cd bin/Release
        ren net10.0-windows FrEee
      shell: cmd
    - name: Zip assets
      uses: papeloto/action-zip@v1
      with:
        files: ./bin/Release
        dest: FrEee-binary-${{steps.get_versions.outputs.version}}-${{steps.createReleaseTag.outputs.string}}.zip
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: ${{steps.get_versions.outputs.version}}-${{steps.createReleaseTag.outputs.string}}
        files: FrEee-binary-*.zip
        draft: false
        prerelease: true
        name: Auto-Build Release ${{steps.get_versions.outputs.version}}-${{steps.createReleaseTag.outputs.string}}
        fail_on_unmatched_files: true
        token: ${{ secrets.RELEASE_TOKEN }}
